:root{
    --image-text-color: white;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --form-left-margin: 2.7vw;
    --form-margin: 4vh;
    --theme-color: #8584A5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: Norse-Bold;
    src: url('./fonts/Norse-Bold.otf') format('opentype');
}

.content, .logo {
    display: flex;
    flex-flow: row wrap;
}

.content {
    width: 100vw;
    height: 100vh;
}

.img-container {
    background-image: url(./images/fabrice-villard-QrRSm-QbjW0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    top: 10vh;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo-text {
    color: var(--image-text-color);
    font-size: 5rem;
    font-family: Norse-Bold;
    padding-top: 20px;
}

.logo>img{
    height: 15vh;
    width: auto;
}

.img-text, .img-text>a {
    color: var(--image-text-color);
}

.img-text {
    position: relative;
    left: 0;
    top: 78vh;
    text-align: center;
    width: 100%;
}

.main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--form-margin);
}

.header-text, legend{
    font-size: 1.3rem;
    font-weight: bold;
}

.header-text {
    white-space: pre-line;
    margin: 0 var(--form-left-margin);
}

fieldset {
    position: relative;
    border: none;
    box-shadow: var(--shadow);
}

legend {
    position: relative;
    top: 3vh;
    left: var(--form-left-margin);
    margin: 10px 0;
}

.form-row {
    margin: var(--form-margin) var(--form-left-margin);
    display: flex;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
} 

label{
    font-weight: 400;
    font-size: 0.7rem;
}

input {
    border: 0.7px #E5E7EB solid;
    border-radius: 5px;
    width: 235px;
    height: 25px;
}

input:focus {
    box-shadow: var(--shadow);
} 

form button {
    color: var(--image-text-color);
    font-size: 1rem;
    margin: var(--form-margin) var(--form-left-margin);
    margin-bottom: 0;
    padding: 1.8vh 3.5vw;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background-color: var(--theme-color);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover {
    transform: translateY(-0.2rem);
}

.login {
    margin: 0 var(--form-left-margin);
}

.login a{
    text-decoration: none;
    color: var(--theme-color);
}

#message {
    font-size: 0.7rem;
}

.match {
    border: 1px green solid !important;
}

.no-match {
    border: 1px red solid !important;
}